.background {
  background-color: #f0ffff;
  min-height: 100vh;
  color: #456b68;
  font-weight: bold;
  /* border: 1px solid tomato; */
}
.container {
  display: flex;
  flex-direction: column;

  margin: auto;
  padding-top: 100px;
  color: #456b68;
  font-weight: bold;
}
hr {
  position: relative;
  top: 20px;
  border: none;
  height: 12px;
  background: black;
  margin-bottom: 50px;
}
