.img {
    position: absolute;
    width: 1441px;
    height: 583px;
    left: -1px;
    top: 130px;

    background: linear-gradient(0deg, rgba(86, 69, 62, 0.14), rgba(86, 69, 62, 0.14));
    box-shadow: inset 0px -10px 4px rgba(0, 0, 0, 0.5);
}

.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 33px 128px;
    gap: 10px;

    position: absolute;
    width: 608px;
    height: 110px;
    left: 422px;
    top: 739px;

    background-color: #F1E2AD;
    border-radius: 18px;
  
  /*font-size: 20px;
  margin: 10px 0px;
  cursor: pointer;*/
}
