/* .container {
  display: flex;
  width: auto;
  flex-direction: column;
  align-items: flex-start;
  background-color: rebeccapurple;
}

.flex-box-1 {
  width: 25%;
  flex-direction: column;
  align-items: flex-start;
  background-color: rebeccapurple;
} */
