.background {
  background-color: #f0ffff;
  min-height: 100vh;
}
.container {
  display: flex;
  flex-direction: column;
  /* border: 1px solid tomato; */
  margin: auto;
  margin-top: 100px;
  color: #456b68;
  font-weight: bold;
}

.title {
  font-weight: bold;
  font-size: 60px;
}

.text {
  font-size: 20px;
}

.progress-bar {
  width: 100%;
  height: 50px;
}

.content {
  width: 60%;
  flex-direction: column;
  /* to override container layout*/
  align-self: center;
  /* border: 1px solid tomato; */
}

.back-button,
.next-button {
  width: 90px;
  margin-top: 50px;
  margin-bottom: 100px;
  margin-right: 20px;
  font-weight: bold;
  border-radius: 10px;
}

.back-button {
  border: 1px solid #456b68;
  color: #456b68;
  background-color: #f0ffff;
}

.next-button {
  border: none;
  color: #f0ffff;
  background-color: #456b68;
}

input {
  margin: 0.5rem 0;
  padding: 1rem;
  border: none;
  border-radius: 10px;
  color: #456b68;
  font-weight: bold;
  border: 1px solid #456b68;
}

input:where([type="checkbox"], [type="radio"]) {
  -webkit-appearance: none;
  appearance: none;
  width: 22px;
  height: 22px;
  margin: calc(0.75em - 11px) 0.25rem 0 0;
  vertical-align: top;
  border: 2px solid #ddd;
  border-radius: 4px;
  background: #fff no-repeat center center;
}

input[type="radio"] {
  border-radius: 50%;
}

input:where([type="checkbox"], [type="radio"]):where(:active:not(:disabled), :focus) {
  border-color: #696;
  outline: none;
}

input:where([type="checkbox"], [type="radio"]):disabled {
  background: #eee;
}

input[type="checkbox"]:checked {
  background-image: url("checkbox.svg");
}

input[type="radio"]:checked {
  background-image: url("radio.svg");
}
